* {box-sizing: border-box}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

{font-family: Arial, Helvetica, sans-serif;}

.uploadForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:20px;
  padding: 16px;
}

#fileUploadForm{
    border:1px solid black;
    margin:10px;
    padding:20px;
    width:400px;
}

input[type=text],input[type=number] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

input[type=submit]:hover {
  opacity:1;
}

#chooseFile {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 63%;
  opacity: 0.9;
  display: inline;
}

#catDropdownDiv,#langDropdownDiv{
    background: #f1f1f1;
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
}

#btnUpload{
    display: inline;
    width: 30%;
    margin-left:20px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + .uploadForm {
  padding-top: 102px;
}

.error{
	color: red;
}

#errorMessage{
    color:red;
    font-weight:700;
}

#errorMessageFile{
   color:red;
   font-weight:700;
}

.container {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-top:20px;
     padding: 16px;
     width:70%;
     margin-bottom:20px;
}
span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

.optionsTitle{
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.container button{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
